* 점포별 상품 판매량 추이 계산

In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib as mpl
import matplotlib.pyplot as plt 

mpl.rc('font', family='Malgun Gothic')

In [2]:
df1 = pd.read_csv('Data09.csv',encoding='cp949')
df1.shape

(117, 646)

In [3]:
df1.columns

Index(['순번', '상품코드', '상품명', ' 합계', '(1154)의정부점', '(1155)별내점', '(1156)풍산점',
       '(1157)김포한강점', '(1158)세종점', '(1159)킨텍스점',
       ...
       '(L21)위시티점', '(L23)걸포동점', '(L27)통일동산점', '(L35)성대점', '(L36)병점점',
       '(L38)율전점', '(L39)본오점', '(L40)검암점', '(L44)신길점', '(L46)용호점'],
      dtype='object', length=646)

In [4]:
df1.head()

,순번,상품코드,상품명,합계,(1154)의정부점,(1155)별내점,(1156)풍산점,(1157)김포한강점,(1158)세종점,(1159)킨텍스점,...,(L21)위시티점,(L23)걸포동점,(L27)통일동산점,(L35)성대점,(L36)병점점,(L38)율전점,(L39)본오점,(L40)검암점,(L44)신길점,(L46)용호점
0,NaN,NaN,NaN,수량,수량,수량,수량,수량,수량,수량,...,수량,수량,수량,수량,수량,수량,수량,수량,수량,수량
1,NaN,NaN,합 계,"2,029,096","6,829","8,374","12,626","11,767","10,912","7,062",...,"2,392","1,291","4,506","2,364","2,739","1,782","3,129","1,712","3,189","2,347"
2,1.0,1801828.0,BW1 473ml캔(수입),"65,402",174,239,432,199,220,263,...,0,25,76,72,54,72,15,38,27,89
3,2.0,1801859.0,BW1 355ml (낱캔),1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3.0,40786179.0,RB 500ml,"2,158",4,9,10,27,0,11,...,0,0,0,0,0,0,0,0,0,0

In [5]:
df1.drop(columns=['순번','상품코드'])

,상품명,합계,(1154)의정부점,(1155)별내점,(1156)풍산점,(1157)김포한강점,(1158)세종점,(1159)킨텍스점,(1160)광교점,(1161)과천점,...,(L21)위시티점,(L23)걸포동점,(L27)통일동산점,(L35)성대점,(L36)병점점,(L38)율전점,(L39)본오점,(L40)검암점,(L44)신길점,(L46)용호점
0,NaN,수량,수량,수량,수량,수량,수량,수량,수량,수량,...,수량,수량,수량,수량,수량,수량,수량,수량,수량,수량
1,합 계,"2,029,096","6,829","8,374","12,626","11,767","10,912","7,062","11,666","2,928",...,"2,392","1,291","4,506","2,364","2,739","1,782","3,129","1,712","3,189","2,347"
2,BW1 473ml캔(수입),"65,402",174,239,432,199,220,263,234,78,...,0,25,76,72,54,72,15,38,27,89
3,BW1 355ml (낱캔),1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,RB 500ml,"2,158",4,9,10,27,0,11,14,13,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,CAT1 355ml*12캔+카카오 에코백+치,179,0,9,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
113,CAT2 355*24캔 + 진라면 6캔,212,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
114,CAT2 1.6L*6,"6,564",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
115,CAT2 1.6L,"125,144",365,564,796,948,594,283,401,280,...,241,196,379,120,273,128,354,106,242,122
116,CAT1 1.6L,"22,796",113,101,168,93,107,50,256,78,...,36,14,80,29,42,54,28,9,28,24

In [6]:
df1.drop(columns=['순번','상품코드']).set_index('상품명')

,합계,(1154)의정부점,(1155)별내점,(1156)풍산점,(1157)김포한강점,(1158)세종점,(1159)킨텍스점,(1160)광교점,(1161)과천점,(1162)김해터미널점,...,(L21)위시티점,(L23)걸포동점,(L27)통일동산점,(L35)성대점,(L36)병점점,(L38)율전점,(L39)본오점,(L40)검암점,(L44)신길점,(L46)용호점
상품명,,,,,,,,,,,,,,,,,,,,,
NaN,수량,수량,수량,수량,수량,수량,수량,수량,수량,수량,...,수량,수량,수량,수량,수량,수량,수량,수량,수량,수량
합 계,"2,029,096","6,829","8,374","12,626","11,767","10,912","7,062","11,666","2,928","7,712",...,"2,392","1,291","4,506","2,364","2,739","1,782","3,129","1,712","3,189","2,347"
BW1 473ml캔(수입),"65,402",174,239,432,199,220,263,234,78,1,...,0,25,76,72,54,72,15,38,27,89
BW1 355ml (낱캔),1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
RB 500ml,"2,158",4,9,10,27,0,11,14,13,3,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CAT1 355ml*12캔+카카오 에코백+치,179,0,9,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CAT2 355*24캔 + 진라면 6캔,212,0,0,0,0,0,0,0,2,0,...,0,0,0,0,0,0,0,0,0,0
CAT2 1.6L*6,"6,564",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CAT2 1.6L,"125,144",365,564,796,948,594,283,401,280,426,...,241,196,379,120,273,128,354,106,242,122
CAT1 1.6L,"22,796",113,101,168,93,107,50,256,78,99,...,36,14,80,29,42,54,28,9,28,24

In [7]:
df1.drop(columns=['순번','상품코드']).set_index('상품명').stack()

상품명
NaN         합계            수량
           (1154)의정부점     수량
           (1155)별내점      수량
           (1156)풍산점      수량
           (1157)김포한강점    수량
                          ..
CAT1 1.6L  (L38)율전점       54
           (L39)본오점       28
           (L40)검암점        9
           (L44)신길점       28
           (L46)용호점       24
Length: 75231, dtype: object

In [8]:
pd.DataFrame(df1.drop(columns=['순번','상품코드']).set_index('상품명').stack())

                        0
상품명
NaN        합계          수량
          (1154)의정부점   수량
          (1155)별내점    수량
          (1156)풍산점    수량
          (1157)김포한강점  수량
...                    ..
CAT1 1.6L (L38)율전점     54
          (L39)본오점     28
          (L40)검암점      9
          (L44)신길점     28
          (L46)용호점     24

[75231 rows x 1 columns]

In [9]:
pd.DataFrame(df1.drop(columns=['순번','상품코드']).set_index('상품명').stack()).reset_index()

             상품명      level_1   0
0            NaN           합계  수량
1            NaN   (1154)의정부점  수량
2            NaN    (1155)별내점  수량
3            NaN    (1156)풍산점  수량
4            NaN  (1157)김포한강점  수량
...          ...          ...  ..
75226  CAT1 1.6L     (L38)율전점  54
75227  CAT1 1.6L     (L39)본오점  28
75228  CAT1 1.6L     (L40)검암점   9
75229  CAT1 1.6L     (L44)신길점  28
75230  CAT1 1.6L     (L46)용호점  24

[75231 rows x 3 columns]

In [10]:
df2 = pd.DataFrame(df1.drop(columns=['순번','상품코드']).set_index('상품명').stack()).reset_index()
df2.head()

   상품명      level_1   0
0  NaN           합계  수량
1  NaN   (1154)의정부점  수량
2  NaN    (1155)별내점  수량
3  NaN    (1156)풍산점  수량
4  NaN  (1157)김포한강점  수량

In [11]:
cond1 = (~(df2['상품명'].isnull()))&(df2['상품명']!='합 계')
df2.loc[cond1]

                  상품명      level_1       0
1286   BW1 473ml캔(수입)           합계  65,402
1287   BW1 473ml캔(수입)   (1154)의정부점     174
1288   BW1 473ml캔(수입)    (1155)별내점     239
1289   BW1 473ml캔(수입)    (1156)풍산점     432
1290   BW1 473ml캔(수입)  (1157)김포한강점     199
...               ...          ...     ...
75226       CAT1 1.6L     (L38)율전점      54
75227       CAT1 1.6L     (L39)본오점      28
75228       CAT1 1.6L     (L40)검암점       9
75229       CAT1 1.6L     (L44)신길점      28
75230       CAT1 1.6L     (L46)용호점      24

[73945 rows x 3 columns]

In [12]:
df3 = df2.loc[cond1]
df3

                  상품명      level_1       0
1286   BW1 473ml캔(수입)           합계  65,402
1287   BW1 473ml캔(수입)   (1154)의정부점     174
1288   BW1 473ml캔(수입)    (1155)별내점     239
1289   BW1 473ml캔(수입)    (1156)풍산점     432
1290   BW1 473ml캔(수입)  (1157)김포한강점     199
...               ...          ...     ...
75226       CAT1 1.6L     (L38)율전점      54
75227       CAT1 1.6L     (L39)본오점      28
75228       CAT1 1.6L     (L40)검암점       9
75229       CAT1 1.6L     (L44)신길점      28
75230       CAT1 1.6L     (L46)용호점      24

[73945 rows x 3 columns]

In [13]:
df3['상품명'].unique()

array(['BW1 473ml캔(수입)', 'BW1 355ml (낱캔)', 'RB 500ml', 'VX 500ml',
       'CAT2 500ml', 'BW1 473ml(알루미늄)_2018 Worldcup', 'BW1 740ml',
       'BW1 473ml*24캔 ALU', 'G1아일랜드 IPA 355ml',
       'G1 아일랜드 312 Wheat Ale 355ml', 'G1아일랜드 Sopie 355ml', 'GL LOLITA',
       'Juliet', 'GL Gillian', 'GL HALIA', 'STL 500ml', 'B1 Grigio 250ml',
       'BR 250ml', 'PRC 500ml', 'STLA 330*6캔(new code)', 'STL 330ml',
       'RPB 330ml', 'RB1 500ml', 'HGD2 750ml', 'HGD 500캔 (수입)',
       'HGD 330*6캔 (수입)', 'HGD3 500ml', 'HRB 500ml', 'HRB 500ml(신코드)',
       'PTG 473ml캔', 'CFR 355ml*6', 'CFR 355ml', 'CFR 330ml(신)',
       'OLB 355ml', 'OLB 355ml*6', 'OLB 500ml', 'FG 355ml', 'FG 355ml*6',
       'FG 500ml', 'FG 500ml*24캔[Traders]', 'FG 1.6L', 'FG 355ml*12캔 쿠폰팩',
       'OLB 355ml*6캔 PKG [골든크라운]', 'OLB 500ml캔 [골든크라운]',
       'OLB 500ml병 [골든크라운]', 'OLB 1.6L [골든크라운]', 'OLB 355ml*12캔 + 전용잔2',
       'OLB 355ml*12캔 + 쿨러백 (202006)', 'HGD 330ml', 'HGD 355ml*6',
       'STL 500ml*4', 'CRN 355ml', 'HGD2 250ml', 'BW1 330ml(신)',
       'BW1 740ml*3캔_Traders', 'BW1 355ml*6캔(수입)', 'STL 500ml*6캔_Traders',
       'HGD 500ml*6캔_Traders', 'STL 330ml*12캔_Multi', 'CRN 355ml*6캔',
       'G1 IPA 473ml캔', 'G1 312 473ml캔', 'BW1 237ml*8캔',
       'BW1 237ml*12캔 PKG', 'MC1 500ml캔', 'RR 355ml*6캔',
       'RR 355ml*24캔 [Traders]', 'CRN (2019)', 'HGD2 330ml*6캔',
       'RR 355*6캔 + 전용잔 기획', 'G1 473ml*8캔 [Traders]',
       'G1 IPA 473ml*4캔+전용잔', 'G1 IPA 473ml*6캔 [Traders]',
       'HGD 750ml*3캔+50cl 전용잔', 'MC1 500ml*4캔+전용잔 [2020,03]',
       'STL 500ml*6캔+스페셜 전용잔(2020 로맨틱)', 'PTG 473ml*6캔 [Traders]',
       'STL 500ml*6캔+전용잔 [2020여성의날]', 'G1IPA 473ml*4캔+기획잔 [2020/03]',
       'G1 312 473ml*4캔 + 전용잔 기획[2020.03]', 'HGD 500ml*6캔 + 레시피 노트',
       'HGD3 500ml*4캔+', 'HGD3 500ml 캔 (202006)',
       'STL *4캔+전용잔1(202006 2차)', 'G1 IPA 473ml*8캔 쿨러백',
       'HGD 495ml*4 + 전용잔 [2020.07_국산]',
       'G1 IPA 473ml*12캔 + 쿨러박스 [Traders]', 'CAT2 355ml', 'CAT1 355ml',
       'CAT2 355ml*6', 'CAT2 355ml*24', 'CAT1 355ml*6', 'CAT1 1.0L',
       'CAT1 500ml', 'CAT1 355ml*12', 'CAT2 355ml*24+쿨러백',
       'CAT2 355ml*8 절약팩', 'CAT2 640ml(신)', 'CAT2 500ml(신)',
       'CAT2 355ml*10캔(냉장패키지)', 'CAT2 250ml*10캔 냉장패키지',
       'CAT1 250ml*10*2 [Traders]', 'CAT2 250ml',
       'CAT1 48캔+신라면 멀티 [Traders]', 'CAT2 355ml*24캔+진라면',
       'CAT1 355*12캔 카카오쿨러백', 'CAT1 355ml*12캔+카카오 에코백+치',
       'CAT2 355*24캔 + 진라면 6캔', 'CAT2 1.6L*6', 'CAT2 1.6L', 'CAT1 1.6L'],
      dtype=object)

In [14]:
def func1(row):
    if 'CAT' in row:
        return 'C Type'
    elif 'STL' in row:
        return 'S Type'
    elif 'BW' in row:
        return 'B Type'
    else:
        return 'Normal Type'
    
df3['상품명'].apply(func1).value_counts()

Normal Type    44367
C Type         17361
B Type          6430
S Type          5787
Name: 상품명, dtype: int64

In [15]:
df3['제품타입'] = df3['상품명'].apply(func1)

<ipython-input-15-0075d566ff2c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['제품타입'] = df3['상품명'].apply(func1)

In [16]:
df3

                  상품명      level_1       0    제품타입
1286   BW1 473ml캔(수입)           합계  65,402  B Type
1287   BW1 473ml캔(수입)   (1154)의정부점     174  B Type
1288   BW1 473ml캔(수입)    (1155)별내점     239  B Type
1289   BW1 473ml캔(수입)    (1156)풍산점     432  B Type
1290   BW1 473ml캔(수입)  (1157)김포한강점     199  B Type
...               ...          ...     ...     ...
75226       CAT1 1.6L     (L38)율전점      54  C Type
75227       CAT1 1.6L     (L39)본오점      28  C Type
75228       CAT1 1.6L     (L40)검암점       9  C Type
75229       CAT1 1.6L     (L44)신길점      28  C Type
75230       CAT1 1.6L     (L46)용호점      24  C Type

[73945 rows x 4 columns]

In [22]:
df3.loc[(df3['제품타입']!='Normal Type')&(df3['level_1']!=' 합계')]

                  상품명      level_1    0    제품타입
1287   BW1 473ml캔(수입)   (1154)의정부점  174  B Type
1288   BW1 473ml캔(수입)    (1155)별내점  239  B Type
1289   BW1 473ml캔(수입)    (1156)풍산점  432  B Type
1290   BW1 473ml캔(수입)  (1157)김포한강점  199  B Type
1291   BW1 473ml캔(수입)    (1158)세종점  220  B Type
...               ...          ...  ...     ...
75226       CAT1 1.6L     (L38)율전점   54  C Type
75227       CAT1 1.6L     (L39)본오점   28  C Type
75228       CAT1 1.6L     (L40)검암점    9  C Type
75229       CAT1 1.6L     (L44)신길점   28  C Type
75230       CAT1 1.6L     (L46)용호점   24  C Type

[29532 rows x 4 columns]

In [23]:
df4 = df3.loc[(df3['제품타입']!='Normal Type')&(df3['level_1']!=' 합계')]

In [24]:
df4.rename(columns={'level_1':'지점',0:'수량'})

                  상품명           지점   수량    제품타입
1287   BW1 473ml캔(수입)   (1154)의정부점  174  B Type
1288   BW1 473ml캔(수입)    (1155)별내점  239  B Type
1289   BW1 473ml캔(수입)    (1156)풍산점  432  B Type
1290   BW1 473ml캔(수입)  (1157)김포한강점  199  B Type
1291   BW1 473ml캔(수입)    (1158)세종점  220  B Type
...               ...          ...  ...     ...
75226       CAT1 1.6L     (L38)율전점   54  C Type
75227       CAT1 1.6L     (L39)본오점   28  C Type
75228       CAT1 1.6L     (L40)검암점    9  C Type
75229       CAT1 1.6L     (L44)신길점   28  C Type
75230       CAT1 1.6L     (L46)용호점   24  C Type

[29532 rows x 4 columns]

In [26]:
df5 = df4.rename(columns={'level_1':'지점',0:'수량'})
df5['수량']

1287     174
1288     239
1289     432
1290     199
1291     220
        ...
75226     54
75227     28
75228      9
75229     28
75230     24
Name: 수량, Length: 29532, dtype: object

In [36]:
def func2(row):
    if len(row)>=4:
        result = row.split(',')
        return result[0]+result[1]
    else:
        return row
    
(df5['수량'].apply(func2)).astype(int)

1287     174
1288     239
1289     432
1290     199
1291     220
        ...
75226     54
75227     28
75228      9
75229     28
75230     24
Name: 수량, Length: 29532, dtype: int32

In [37]:
df5['수량(int)']= (df5['수량'].apply(func2)).astype(int)

In [38]:
df5

                  상품명           지점   수량    제품타입  수량(int)
1287   BW1 473ml캔(수입)   (1154)의정부점  174  B Type      174
1288   BW1 473ml캔(수입)    (1155)별내점  239  B Type      239
1289   BW1 473ml캔(수입)    (1156)풍산점  432  B Type      432
1290   BW1 473ml캔(수입)  (1157)김포한강점  199  B Type      199
1291   BW1 473ml캔(수입)    (1158)세종점  220  B Type      220
...               ...          ...  ...     ...      ...
75226       CAT1 1.6L     (L38)율전점   54  C Type       54
75227       CAT1 1.6L     (L39)본오점   28  C Type       28
75228       CAT1 1.6L     (L40)검암점    9  C Type        9
75229       CAT1 1.6L     (L44)신길점   28  C Type       28
75230       CAT1 1.6L     (L46)용호점   24  C Type       24

[29532 rows x 5 columns]

In [46]:
pd.pivot_table(data=df5, index='지점',values='수량(int)',aggfunc='sum').sort_values(by='수량(int)',ascending=False).head(10)

            수량(int)
지점
(610)부천점      16879
(600)안양점      15181
(966)성남점      13804
(550)은평점      13242
(380)가양점      11946
(470)성수점      11520
(660)연수점      10901
(962)경기광주점    10891
(840)월계점      10830
(690)고잔점      10812

In [58]:
pd.pivot_table(data=df5, index='지점',values='수량(int)',aggfunc='sum').sort_values(by='수량(int)',ascending=False).head(10)

            수량(int)
지점
(610)부천점      16879
(600)안양점      15181
(966)성남점      13804
(550)은평점      13242
(380)가양점      11946
(470)성수점      11520
(660)연수점      10901
(962)경기광주점    10891
(840)월계점      10830
(690)고잔점      10812

In [59]:
pd.pivot_table(data=df5, index=['지점','상품명','제품타입'],values='수량(int)',aggfunc='sum').sort_values(by='수량(int)',ascending=False).head(10)

                               수량(int)
지점       상품명           제품타입
(610)부천점 CAT2 500ml(신) C Type     3984
(700)문현점 CAT2 500ml(신) C Type     3586
(750)사상점 CAT2 500ml(신) C Type     3410
(900)순천점 CAT2 500ml(신) C Type     3235
(601)시화점 CAT2 500ml    C Type     3054
(966)성남점 CAT2 500ml(신) C Type     2952
(560)여수점 CAT2 500ml(신) C Type     2885
(959)목동점 BW1 740ml     B Type     2837
(580)연제점 CAT2 500ml(신) C Type     2639
(600)안양점 CAT1 1.0L     C Type     2637

In [64]:
df6 = pd.pivot_table(data=df5, index=['지점','상품명','제품타입'],values='수량(int)',aggfunc='sum').sort_values(by='수량(int)',ascending=False).head(20).reset_index()
df6

                  지점                   상품명    제품타입  수량(int)
0           (610)부천점         CAT2 500ml(신)  C Type     3984
1           (700)문현점         CAT2 500ml(신)  C Type     3586
2           (750)사상점         CAT2 500ml(신)  C Type     3410
3           (900)순천점         CAT2 500ml(신)  C Type     3235
4           (601)시화점            CAT2 500ml  C Type     3054
5           (966)성남점         CAT2 500ml(신)  C Type     2952
6           (560)여수점         CAT2 500ml(신)  C Type     2885
7           (959)목동점             BW1 740ml  B Type     2837
8           (580)연제점         CAT2 500ml(신)  C Type     2639
9           (600)안양점             CAT1 1.0L  C Type     2637
10       (150)E/T구성점  BW1 740ml*3캔_Traders  B Type     2508
11  (1413)E/T스타필드고양점  BW1 740ml*3캔_Traders  B Type     2505
12          (400)상봉점         CAT2 500ml(신)  C Type     2429
13  (1412)E/T스타필드하남점  BW1 740ml*3캔_Traders  B Type     2373
14          (966)성남점            CAT2 500ml  C Type     2245
15          (600)안양점            CAT2 500ml  C Type     2225
16       (150)E/T구성점  STL 500ml*6캔_Traders  S Type     2174
17          (550)은평점             CAT1 1.0L  C Type     2120
18          (740)속초점            CAT2 500ml  C Type     2110
19          (610)부천점             CAT1 1.0L  C Type     2097

In [70]:
df6.to_csv('DASH/result0219.csv')

# Python Plotly / Dash 

* Dash  : https://dash.plotly.com/layout
* Plotly : https://medium.com/plotly

In [40]:
# !pip install --user plotly

Collecting plotly
  Downloading plotly-4.14.3-py2.py3-none-any.whl (13.2 MB)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from plotly) (1.15.0)
Collecting retrying>=1.3.3
  Using cached retrying-1.3.3.tar.gz (10 kB)
Building wheels for collected packages: retrying
  Building wheel for retrying (setup.py): started
  Building wheel for retrying (setup.py): finished with status 'done'
  Created wheel for retrying: filename=retrying-1.3.3-py3-none-any.whl size=11434 sha256=f63eacc9e624e6ff809231c40409919383e10a5a1c0246f23c5c4eb4828883de
  Stored in directory: c:\users\ainbd\appdata\local\pip\cache\wheels\c4\a7\48\0a434133f6d56e878ca511c0e6c38326907c0792f67b476e56
Successfully built retrying
Installing collected packages: retrying, plotly
Successfully installed plotly-4.14.3 retrying-1.3.3
Note: you may need to restart the kernel to use updated packages.

In [66]:
# !pip install --user dash

Collecting dash
  Downloading dash-1.19.0.tar.gz (75 kB)
Requirement already satisfied: Flask>=1.0.4 in c:\programdata\anaconda3\lib\site-packages (from dash) (1.1.2)
Collecting flask-compress
  Downloading Flask-Compress-1.9.0.tar.gz (10 kB)
Requirement already satisfied: plotly in c:\users\ainbd\appdata\roaming\python\python38\site-packages (from dash) (4.14.3)
Collecting dash_renderer==1.9.0
  Downloading dash_renderer-1.9.0.tar.gz (1.0 MB)
Collecting dash-core-components==1.15.0
  Downloading dash_core_components-1.15.0.tar.gz (3.5 MB)
Collecting dash-html-components==1.1.2
  Downloading dash_html_components-1.1.2.tar.gz (188 kB)
Collecting dash-table==4.11.2
  Downloading dash_table-4.11.2.tar.gz (1.8 MB)
Requirement already satisfied: future in c:\programdata\anaconda3\lib\site-packages (from dash) (0.18.2)
Requirement already satisfied: Jinja2>=2.10.1 in c:\programdata\anaconda3\lib\site-packages (from Flask>=1.0.4->dash) (2.11.2)
Requirement already satisfied: Werkzeug>=0.15 in c:\programdata\anaconda3\lib\site-packages (from Flask>=1.0.4->dash) (1.0.1)
Requirement already satisfied: click>=5.1 in c:\programdata\anaconda3\lib\site-packages (from Flask>=1.0.4->dash) (7.1.2)
Requirement already satisfied: itsdangerous>=0.24 in c:\programdata\anaconda3\lib\site-packages (from Flask>=1.0.4->dash) (1.1.0)
Collecting brotli
  Downloading Brotli-1.0.9-cp38-cp38-win_amd64.whl (365 kB)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from plotly->dash) (1.15.0)
Requirement already satisfied: retrying>=1.3.3 in c:\users\ainbd\appdata\roaming\python\python38\site-packages (from plotly->dash) (1.3.3)
Requirement already satisfied: MarkupSafe>=0.23 in c:\programdata\anaconda3\lib\site-packages (from Jinja2>=2.10.1->Flask>=1.0.4->dash) (1.1.1)
Building wheels for collected packages: dash, flask-compress, dash-renderer, dash-core-components, dash-html-components, dash-table
  Building wheel for dash (setup.py): started
  Building wheel for dash (setup.py): finished with status 'done'
  Created wheel for dash: filename=dash-1.19.0-py3-none-any.whl size=84016 sha256=c75de1e90124aa927f78776c7ece1d9e595415b6f3c4c575c0059c351efb4734
  Stored in directory: c:\users\ainbd\appdata\local\pip\cache\wheels\e7\27\2f\a9f9bf858843b5365bcb311a80f0b2379737caf4ec50b2ae3a
  Building wheel for flask-compress (setup.py): started
  Building wheel for flask-compress (setup.py): finished with status 'done'
  Created wheel for flask-compress: filename=Flask_Compress-1.9.0-py3-none-any.whl size=7262 sha256=54703b81b0c519142ef32b79e2927bfcd5ec3e0257585c7dedb487aac5ca2100
  Stored in directory: c:\users\ainbd\appdata\local\pip\cache\wheels\c6\05\75\97e2cade6f5140199c8f49d11180883387042a1e5f0d117aba
  Building wheel for dash-renderer (setup.py): started
  Building wheel for dash-renderer (setup.py): finished with status 'done'
  Created wheel for dash-renderer: filename=dash_renderer-1.9.0-py3-none-any.whl size=1014874 sha256=f9744e646cafaf6ebec68ab4d64d139f8c04de32177358ae104c1d05038ad1d9
  Stored in directory: c:\users\ainbd\appdata\local\pip\cache\wheels\08\94\09\e11ba8ae5d97e1c8ff5be0ac1f7cf42642eec6ea94ed1e4b44
  Building wheel for dash-core-components (setup.py): started
  Building wheel for dash-core-components (setup.py): finished with status 'done'
  Created wheel for dash-core-components: filename=dash_core_components-1.15.0-py3-none-any.whl size=3527018 sha256=ef17b9b3d89555fa09bac60dc916135a9422a605ba51ad0fa409a156a954f518
  Stored in directory: c:\users\ainbd\appdata\local\pip\cache\wheels\e3\e6\0e\759ca580c568aad2436521fa6df67f53a141dc1ab8f040c4c7
  Building wheel for dash-html-components (setup.py): started
  Building wheel for dash-html-components (setup.py): finished with status 'done'
  Created wheel for dash-html-components: filename=dash_html_components-1.1.2-py3-none-any.whl size=427836 sha256=443810211d87e022ce8896bfa311196179b99904339da77884a68a8c0e2be980
  Stored in directory: c:\users\ainbd\appdata\local\pip\cache\wheels\8a\bc\a8\7ad1d354777cfe77413fd7a092e07d7cc82f88f98997f4c463
  Building wheel for dash-table (setup.py): started
  Building wheel for dash-table (setup.py): finished with status 'done'
  Created wheel for dash-table: filename=dash_table-4.11.2-py3-none-any.whl size=1839873 sha256=700bd255d0f83959e959120650fe56110efc6cb99b183d6061fd899781b330a0
  Stored in directory: c:\users\ainbd\appdata\local\pip\cache\wheels\cc\1d\a0\720dcf854e410eddbe44f8434f4d3a6332fdd085178eeac4f9
Successfully built dash flask-compress dash-renderer dash-core-components dash-html-components dash-table
Installing collected packages: brotli, flask-compress, dash-renderer, dash-core-components, dash-html-components, dash-table, dash
Successfully installed brotli-1.0.9 dash-1.19.0 dash-core-components-1.15.0 dash-html-components-1.1.2 dash-renderer-1.9.0 dash-table-4.11.2 flask-compress-1.9.0
Note: you may need to restart the kernel to use updated packages.

In [41]:
import plotly.express as px

In [65]:
fig = px.bar(df6, x="지점", y="수량(int)", color="제품타입")
fig.show()